h1 {
  text-align: center;
}

.collection {
  &Table {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 20px;
  }
  &Movie {
    display: flex;
    flex-direction: column;
    .banner {
      position: relative;
      p {
        text-align: center;
        position: absolute;
        right: 2px;
        top: -5px;
        background: #FFFFFF;
        border: 1px solid #002DFF;
        box-sizing: border-box;
        border-radius: 14px;
        font: 500 12px Calibri;
        width: 24px;
        height: 16px;
      }
    }
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}