.main .showcase {
  display: flex;
  padding-top: 25px;
  & .cover {
    height: 340px;
    padding-right: 5px;
  }
  & .description {

  }
  & .info {
    display: flex;
    height: 20px;
  }
  .btnActive {
    font: 500 15px Calibri;
  }
  h6 {
    font: 600 18px Calibri;
    margin: 5px;
  }
  h5 {
    margin: 5px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #002DFF;
    box-sizing: border-box;
    border-radius: 14px;
    font: 500 12px Calibri;
    width: 24px;
    height: 16px;
  }
}