html, body, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
}

a {
  color: #002DFF;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

input {
  caret-color: #002DFF;
}